 /* Cambia el fondo de la página */
 body {
    background-color: #f8eeea; 
    font-family: 'Roboto', Arial, sans-serif; 
    color: #355C7D; 
    text-align: center;
    /*margin: 20px; */
}

/* Estilo del título */
h1 {
    font-family: 'Roboto', Arial, sans-serif; 
    color: #355C7D; 
    text-align: center; 
    /*margin-top: 50px; */
    align-self: center;
    font-size: 50px; 
    font-weight: bold; 
}

h2{
    font-family: 'Roboto', Arial, sans-serif; 
    color: #355C7D;
    text-align: center;
}

h3 {
    font-family: 'Roboto', Arial, sans-serif; 
    color: #355C7D;
}

hr{
    border: none;         /* Elimina el estilo predeterminado */
    height: 2px;          /* Grosor de la línea */
    background-color: #C06C84; /* Color de la línea */
    width: 80%;           /* Ancho de la línea (80% del contenedor) */
}

/* Estilo de los párrafos */
p {
    font-size: 16px; 
    line-height: 1.6; 
    color: #6C5B7B; 
}

/* Botones */
button, .file-label {
    background-color: #F67280; 
    color: white;
    text-align: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block; /* Asegura que el estilo se aplique bien al label */
    text-align: center;
}

button:hover, .file-label:hover {
    background-color: #C06C84; /* Verde oscuro al pasar el cursor */
    text-align: center;
}

video{
    display: none; /* Ocultar el video inicialmente */
    margin: 20px auto; /* Espaciado superior e inferior y centrado horizontal */
    max-width: 100%; /* Ajuste para que no exceda el ancho del contenedor */
    max-height: 80vh; /* Evitar que sea más alto que el 80% de la pantalla */
    border: 2px solid #ccc; /* Opcional: borde decorativo */
    border-radius: 8px; /* Opcional: bordes redondeados */
}

/* Excluye el video con la clase .visible-video */
video.visible-video {
    display: block; 
}


/* Botones */
/* Contenedor de los botones */
.button-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 15px;               
    margin-top: 20px;        
}
  
/* Estilo común para todos los botones */
button {
    padding: 15px 30px;  
    font-size: 18px;      
    border: none;         
    border-radius: 8px;   
    cursor: pointer;     
    transition: background-color 0.3s ease; 
}
  
.btn-type1 {
    background-color: #F67280; 
    color: white;               
    text-align: center;         
    padding: 10px 20px;         
    font-size: 16px;            
    border-radius: 5px;        
    display: inline-block;     
}
.btn-type1:hover {
    background-color: #C06C84;  
    text-align: center;
}
  
.btn-type2 {
    background-color: #F67280; 
    color: white;   
    text-align: center;
    padding: 0;              /* Elimina el padding para evitar que afecte la alineación */
    font-size: 22px;         /* Ajusta el tamaño del texto */
    border-radius: 10px;
    height: 70px;            /* Define una altura fija */
    width: 300px;            /* Define un ancho fijo */
    display: flex;           /* Usa Flexbox para alinear el contenido */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center;     /* Centra el texto verticalmente */
    line-height: 1.2;        
}
.btn-type2:hover {
    background-color: #C06C84;  /* Cambia el color al pasar el mouse */
}

/*Area de texto*/
textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    resize: vertical;
    margin-top: 5px;
}

textarea:focus {
    border-color: #C06C84; /* Cambia el color del borde cuando está enfocado */
    outline: none; /* Elimina el borde por defecto al hacer clic */
}

/* Oculta el botón original del input file */
input[type="file"] {
    display: none;
}

#video-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eaf4f4;
}


/* Estilos para el header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F67280;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
/* Contenedor del logo */
.logo-container {
    text-align: center;     
}
  
.logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
    align-self: left;
    margin:0;
}
  
  
.info-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;    
    padding: 0;
    margin: 0;
    gap: 0;
}

.students {
    margin:0;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columnas iguales */
    gap: 20px; /* Espacio entre las columnas */
}

#results-container {
    margin-top: 20px;
    display: none;
}

.test-result {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%; /* Ajusta el ancho a un 80% del contenedor padre */
    max-width: 600px; /* Define un máximo para evitar que se haga demasiado grande */
    margin-left: auto;
    margin-right: auto; /* Centra el cuadro en la página */
}

.test-result h3 {
    margin: 0;
    color: #0056b3;
}

.test-result p {
    margin: 5px 0;
}

.test-result a {
    color: #007bff;
    text-decoration: none;
}

.test-result a:hover {
    text-decoration: underline;
}

